<div class="row">
  <form action="#" class="login-wrapper" method="post">
    <div class="header">
      <div class="row">
        <div class="col-md-12">
          <h3>Rcam Backend</h3>
          <p>Fill out the form below to login.</p>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <input class="input col-md-12 col-sm-12 email" ng-model="admin_name" placeholder="example@mail.com" type="email" value="" required>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <input class="input col-md-12 col-sm-12 password" ng-model="admin_password" placeholder="********" type="password" required>
        </div>
      </div>
    </div>
    <div class="login-actions">
      <a ui-sref="dashboard" class="btn btn-danger">Login</a>
      <div class="clearfix"></div>
    </div>
  </form>
</div>
